
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-weight: 300;

}
body {
  background-color: #2C2C2C;
    font-family: "Inter";


}
span{
    color: #F24E1E;
}
i{
    color: #ae70ff;
    font-size: 4rem;
}
.text{
    font-size: 1.5rem;
}
.container{
    width: 100%;
    max-width: 70%; /* ou 1100px */
    margin: 0 auto;    /* centraliza */
    padding: 0 1rem;   /* respiro lateral */
}
a{
    text-decoration: none;
}
.habilidade{
    display: flex;
    justify-content: space-evenly;
}
.contato{
   font-weight:lighter ;
   display: flex;
   gap: 2rem;
   color: aqua;
   justify-content: space-evenly;
   
    
}
.textCenter{
    text-align: center;
}
.tituloConteudo{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
section{
    height: 100vh;
}
.roxo{
    height: 100%;
    width: 30%;
    background-color: #432B62;
}
header {
  margin-top: 1.2rem;
  position: fixed;
  top: 0;
  left: 60%;
  width: 70%;
  z-index: 1000;
  width: fit-content;
  background-color: transparent;
  display: flex;

  gap: 20px;
  
}
    header a:focus, header a:active{
    color: #F24E1E;
    }

#inicio{
    display: flex;
}
.centralizado{
width: 70%;
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
justify-content: center;
}
.separar{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}